---
import BaseLayout from '@/layouts/BaseLayout.astro';
import NavBar from '@/components/NavBar.astro'
---
<style>
            a {
            color: rgb(18, 253, 253);        
            font: 1.5em sans-serif;
        }
</style>
<BaseLayout title="About" description="Este es el sitio sobre nosotros">
    <h1>About</h1>
    <p>Esta es la pagina sobre las cosas que estamos escribiendo
        dentro de este blog primerizo, que no sabremos como va a evolucionar
    </p>
    <NavBar></NavBar>
</BaseLayout>