---

---
<style>
    a {
        color: aqua;
    }
</style>
<nav class="hero_nav">
    <a href="/">Home</a>
    <a href="/about/index.html">About</a>
    <a href="/products/index.html">Productos</a>
    <a href="/prueba/index.html">Prueba</a>
    <a href="/faq">FAQ</a>

</nav>
