---
import BaseLayout from '@/layouts/BaseLayout.astro';
import NavBar from '@/components/NavBar.astro';
---

<BaseLayout title="Productos" description="Este es el sitio de productos">

    <h1>Productos</h1>

    <img src="/Cabeza.jpg" 
    height="600px" 
    width="800px"
    alt="Foto de cabeza romana">
    
    <NavBar></NavBar>
</BaseLayout>